[run]
source = .

[report]

omit =
    */migrations/*
    */venv/*
    */settings.py
    */__init__.py
    */crud/*
    */project/*
    */manage.py
    */forms.py
    */urls.py
    */admin.py
    */apps.py
    */tests/*
    */views.py



[html]
directory = coverage_html_report