{% extends "base_generic.html" %}

{% block content %}
<div class="text-center">
    <h3>Categoria</h3>
</div>
<div class="row mb-3">
    <div class="col-md-12">
        <label>Categoria:</label>
        <input disabled value="{{ categoria.nome }}">
    </div>
</div>
<div class="actions">
    <a href="{% url 'categoria_list' %}" class="fa fa-arrow-left"> Voltar</a>
    <a href="{% url 'categoria_update' categoria.pk %}" class="fa fa-pencil"></a>
    <a href="{% url 'categoria_delete' categoria.pk %}" class="fa fa-trash"></a>
</div>

{% endblock %}