{% extends "base_generic.html" %}

{% block content %}
<div class="mb-5">
    <h1>Lista de Categorias</h1>
</div>
<div class="">
    <a href="{% url 'categoria_create' %}" class="btn-create">Nova Categoria</a>
</div>
<div class="mt-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td class="actions">
                <a href="{% url 'categoria_detail' categoria.pk %}" class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="Visualizar"></a>
                <a href="{% url 'categoria_update' categoria.pk %}" class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Editar"></a>
                <a href="{% url 'categoria_delete' categoria.pk %}" class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Deletar"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

