<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <style>
        body {
            background-color: black;
            color: antiquewhite;
            font-size: 28px;
        }
    </style>
</head>
<body>
    <p>
        Em verde manto a terra se veste,<br>
        Sob um céu azul, límpido e celeste.<br>
        O vento canta uma melodia suave,<br>
        As flores desabrocham, belas e bravas.
    </p>
</body>
</html>